ul:has(input[type="checkbox"]) {
  gap: 0.1em;
}

input[type="checkbox"] {
  display: none;
}

label:has([type="checkbox"]:checked) {
  color: var(--clr-primary);
}

label:has(input[type="checkbox"]) {
  position: relative;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 1em;
  padding: 1em 0;
  border-radius: 0.4em;
  gap: 0;
}

label:has(input[type="checkbox"]):hover {
  color: var(--clr-primary);
}

label:has(input[type="checkbox"]):hover::before {
  border-color: var(--clr-primary);
}

label:has(input[type="checkbox"])::before {
  content: "";
  display: inline-block;
  margin-right: 0.5em;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  background-color: var(--clr-bg);
  border: 1px solid rgb(204, 204, 204);
  border-radius: var(--radius-1);
  box-shadow: none;
}
label:has([type="checkbox"]:checked)::after {
  content: "";
  // dont forget to fill in the color with --clr-primary
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3Cpath d='M0,0h1v1H0' fill='%233064d0'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 1em 1em;
  background-position: center center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  left: 0.22em;
  top: 0.65em;
  text-align: center;
  background-color: transparent;
  font-size: 1em;
  height: 0.7em;
  width: 0.7em;
}
